@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

//Fonts
@import 'typography-theme';
@include mat-core($typography-config);

//Colors
$stark-color-theme: mat-light-theme(mat-palette($mat-indigo), mat-palette($mat-green), mat-palette($mat-red)) !default;
@include angular-material-theme($stark-color-theme);

//Button
@import 'button-theme';
$button-theme: (
  border-radius: 2px,
  padding: 0px 10px
) ;
@if variable-exists(stark-button-theme) {
  $button-theme: map-merge($button-theme, $stark-button-theme);
}
@include stark-button-theme($button-theme);

//Card
/*@import 'card-theme';
@include stark-card-theme($global-theme);*/

//Grid
@import 'grid-theme';
$grid-theme: (
  border-radius: 2px
);
@if variable-exists(stark-grid-theme) {
  $grid-theme: map-merge($grid-theme, $stark-grid-theme);
}
@include stark-grid-theme($grid-theme);